<h4>Unable to find TypoScript settings for module. Please make sure, you have included the static
  TypoScript for the extension.</h4>
<ol>
  <li>Switch to the Template module and select Info/Modify.</li>
  <li>Switch to the root page of your site and press the link Edit the whole template record and switch to the tab Includes.</li>
  <li>Select FAL flowplayer Driver (kurz_flowplayer) at the field Include static (from extensions):</li>
</ol>
<div><f:image src="EXT:kurz_flowplayer/Resources/Public/Images/img-include-ts.png" /></div>
