<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This template displays a NEW form for the current domain object.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			New.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder
	<f:section name="menu">
		<f:render partial="Administration/Menu" arguments="{_all}" />
	</f:section>
	<f:section name="content">

		<h1>
			<f:image src="EXT:kurz_flowplayer/Resources/Public/Icons/logo-blue.png" width="30"
							 style="float:left; margin-right: 10px;"/>
			<f:translate key="title"/>
		</h1>
		<f:flashMessages />
		<h2>New Workspace</h2>
		<f:render partial="FormErrors" />

		<f:form action="create"  name="newWorkspace" object="{newWorkspace}">
		<f:render partial="Workspace/FormFields" />
			<div class="form-group row"><f:form.submit value="Create new" class="btn btn-default" /></div>
		</f:form>
	</f:section>
</html>
