<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  This Template is responsible for displaying a single view for a domain object

  If you modify this template, do not forget to change the overwrite settings
  in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
      Private:
        Templates:
          Show.html: keep

  Otherwise your changes will be overwritten the next time you save the extension in the extension builder

  <f:section name="menu">
    <f:render partial="Administration/Menu" arguments="{_all}" />
  </f:section>

  <f:section name="content">

    <h1>
      <f:image src="EXT:kurz_flowplayer/Resources/Public/Icons/logo-blue.png" width="30"
               style="float:left; margin-right: 10px;"/>
      <f:translate key="title"/>
    </h1>
    <f:flashMessages />
    <h2>Single View for Workspace</h2>
    <f:render partial="Workspace/Properties" arguments="{workspace:workspace}" />
    <f:link.action action="list" class="btn btn-default">Back to list</f:link.action><br />
    <f:link.action action="create" class="btn btn-default">New Workspace</f:link.action>
  </f:section>
</html>
