<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="siteID">
	<f:translate key="tx_kurzflowplayer_domain_model_workspace.site_id" />
</label><br />
	<f:form.textfield property="siteId" /><br />
<label for="name">
	<f:translate key="tx_kurzflowplayer_domain_model_workspace.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="apiKey">
	<f:translate key="tx_kurzflowplayer_domain_model_workspace.api_key" />
</label><br />
	<f:form.textfield property="apiKey" /><br />
</html>
