<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:flashMessages/>
<f:be.container>
  <div class="typo3-fullDoc">
    <div id="typo3-docheader">
      <div class="typo3-docheader-functions">

        <div class="left">
          <f:be.buttons.csh/>
          <f:be.menus.actionMenu>
            <f:be.menus.actionMenuItem label="------" controller="Administration"
                                       action="index"
            />
<f:for each="{workspaces}" as="workspace">
            <f:be.menus.actionMenuItem label="{workspace.name}"
                                       controller="Administration" action="index"
                                       arguments="{siteId: workspace.siteId}" />
</f:for>
            <f:be.menus.actionMenuItem label="------" controller="Administration"
                                       action="index"
            />
            <f:be.menus.actionMenuItem label="Workspaces Overview" action="list" controller="Workspace" />
            <f:be.menus.actionMenuItem label="Create new Workspace" action="new" controller="Workspace" />
            <f:be.menus.actionMenuItem label="Player Overview" controller="Player" action="list" />
            <f:be.menus.actionMenuItem label="Create new Player" action="new" controller="Player" />
          </f:be.menus.actionMenu>

        </div>
      </div>
    </div>
    <div class="right">
      <f:be.pagePath/>
      <f:be.pageInfo/>
    </div>
  </div>
  <div class="typo3-docheader-buttons">
    <div class="left">

    </div>
    <div class="right">
      <f:be.buttons.shortcut/>
    </div>
  </div>

  <div id="typo3-docbody">
    <div id="typo3-inner-docbody">
      <style>

        table tr th {
          position: sticky !important;
          top: 0 !important;
          background-color: #a8a19f;
          z-index: 900000;
        }
      </style>

      <table style="text-align: center; " class="table table-bordered">
        <tr>
          <th></th>
          <th class="col-md-1" style="text-align: center">Name</th>
          <th class="col-md-1" style="text-align: center">Description</th>
          <th class="col-md-1" style="text-align: center">Tags</th>
          <th class="col-md-1" style="text-align: center">Vorschaubild</th>
          <th></th>
        </tr>

        <f:for each="{videos.assets}" as="video">
          <tr>
            <td class="col-md-1">
              <f:form action="importVideos">
                <f:form.button name="videoId" value="{video.id}">
                  <f:if condition="{user.deleted}">
                    <f:then>
                      <f:translate key="module_import.action.undelete"/>
                    </f:then>
                    <f:else>
                      <f:if condition="{video.uid}">
                        <f:then>
                          Update
                        </f:then>
                        <f:else>
                          Import
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:form.button>
              </f:form>
            </td>
            <td class="col-md-1">{video.name}
            </td>
            <td class="col-md-1">{video.description}</td>
            <td>{video.tags}
            </td>
            <td class="col-md-1"><img src="{video.images.0.url}" width="320"/></td>
            <td class="col-md-1">
              <div class="flowplayer-embed-container"
                   style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width:100%;">
                <iframe style="position: absolute; top: 0; left: 0; width: 320px; height: 150px;"
                        webkitAllowFullScreen mozallowfullscreen
                        allowfullscreen
                        src="//ljsp.lwcdn.com/api/video/embed.jsp?id={video.id}&pi=a29c6a42-b142-42fa-b7be-4e280e8020a5"
                        title="0" byline="0" portrait="0" frameborder="0" allow="autoplay">
                </iframe>
              </div>
            </td>

          </tr>

        </f:for>
        <tr>
          <td colspan="12" height="20"></td>
        </tr>
      </table>
    </div>
  </div>

</f:be.container>
</html>
