<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:be.menus.actionMenu>
    <f:be.menus.actionMenuItem label="{f:translate(key:'module_overview')}" controller="Administration" action="overview"/>
    <f:if condition="{workspace}">
    <f:be.menus.actionMenuItem label="{workspace.name}" controller="Administration"
                               action="index"
    />
    </f:if>
    <f:be.menus.actionMenuItem label="Workspaces Overview" action="list" controller="Workspace"/>
    <f:be.menus.actionMenuItem label="Create new Workspace" action="new" controller="Workspace"/>
    <f:be.menus.actionMenuItem label="Player Overview" controller="Player" action="list"/>
    <f:be.menus.actionMenuItem label="Create new Player" action="new" controller="Player"/>

</f:be.menus.actionMenu>

</html>
